@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

::-webkit-scrollbar {
    width: .4vw;
}
::-webkit-scrollbar-track {
    background: #21212100;
    box-shadow: inset 0 0.3vw #21212100, inset 0 -0.3vw #21212100;
}
::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 2vw;
    transition: transform 2s;
}

::-webkit-scrollbar-thumb:hover{
    background: #434343;
}

/* .box {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.box.show {
    opacity: 1;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body:not(footer){
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vw;
    background: #212121;
}

header{
    background: #212121;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vw;
    padding: 2vw 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.4vw;
    color: #fff;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: .9vw;
    color: #606060;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1.5vw;
    transition: color 0.5s ease;
}
.navigation a:hover{
    color: #d1d1d1;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.2vw;
    width: 100%;
    height: .1vw;
    background: #fff;
    border-radius: 30%;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.navigation a:hover:after{
    transform: scaleX(1);
}


.navigation .talk-btn{
  --color2: #676767;
  --color: #d1d1d1;
  padding: .6vw 1.2vw;
  background-color: transparent;
  border-radius: .2vw;
  border: .05vw solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: .75vw;
  text-transform: uppercase;
  color: var(--color);
}
 
 .navigation .talk-btn::after, .talk-btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .navigation .talk-btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .navigation .talk-btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .navigation .talk-btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .navigation .talk-btn:hover {
  color: var(--color2);
 }
 
 .navigation .talk-btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }

 .wrapper{
    position: fixed;
    top: 20%;
    left: 40.5%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 25vw;
    background: transparent;
    border: 0.08vw solid rgba(255, 255, 255, 0.5);
    border-radius: .75vw;
    backdrop-filter: blur(.75vw);
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease ,height 0.2s ease;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 39vw;
}
.wrapper .form-box{
    width: 100%;
    padding: 1.8vw;
}
.wrapper .form-box.login{
    transition: transform 0.18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-30vw);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.8vw;
    height: 1.8vw;
    background: rgba(255, 255, 255, 0.5);
    font-size: 1.5vw;
    color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: .75vw;
    cursor: pointer;
    z-index: 1;
}
.form-box h2{
    font-size: 1.5vw;
    color: #d1d1d1;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 2vw;
    margin: 1.2vw 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0vw;
    transform: translateY(-50%);
    font-size: .65vw;
    color: #d1d1d182;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -.05vw;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: .75vw;
    color: #d1d1d1;
    font-weight: 500;
    padding: 0 1.2vw 0 0.5vw;
    border-bottom: 0.1vw solid #d1d1d1;
}
.input-box .icon{
    position: absolute;
    right: .2vw;
    font-size: .75vw;
    color: #d1d1d1;
    line-height: 0.5vw;
}

.input-box textarea{
    resize: none;
    width: 16vw;
    height: 4.5vw;
    background: transparent;
    border: none;
    outline: none;
    color: #d1d1d1;
    font-weight: 600;
    font-size: .7vw;
    font-weight: 500;
    border-bottom: .1vw solid #d1d1d1;
}

.talk{
    --color2: #676767;
    --color: #d1d1d1;
    margin-left: 26%;
    top: 2.4vw;
    width: 7vw;
    height: 2vw;
    background-color: transparent;
    border-radius: .2vw;
    border: 0.01vw solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: .75vw;
    text-transform: uppercase;
    color: var(--color);
  }
   
   .talk::after, .talk::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: 0.4s ease-out;
    background-color: var(--color);
   }
   
   .talk::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .talk:hover::before {
    transform: skew(60deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .talk:hover::after {
    transform: skew(60deg) translate(-50%, -50%);
   }
   
   .talk:hover {
    color: var(--color2);
   }
   
   .talk:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
/* -------------------------------------------------------------------------------- */
.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    position: static;
    margin: 15% 9% 0% 9%;
    width: 80%;
    height: 80%;
}

.left-col{
    flex: 1 0 32.3%;
    row-gap: 1.2vw;
}
.left-col h3{
    color: #fff;
    font-weight: 500;
    font-size: 1vw;
    margin-bottom: 1vw;
}
.mail{
    flex: 1 0  100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3.1%;
    text-transform: uppercase;
    margin-bottom: 1vw;
}
.mail a{
    line-height: 1vw;
    color: white;
    font-size: .7vw;
    text-decoration: none;
}
.mail p{
    font-size: .7vw;
    margin-bottom: -.5vw;
}
.svg{
    width: min-content;
    padding: 2.5% 2.5% 2.5% 2.5%;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: .7vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
}
.mail img{
  filter: invert(1) grayscale(100%);
  width: 2.5vw;
  opacity: .5;
  transition: opacity .5s, transform .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.mail:hover img{
  transform: scale(1.3);
  opacity: 1;
}


.contact-us{
    flex: 1 0  100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3.1%;
    text-transform: uppercase;
    margin-bottom: 1vw;
}
.contact-us a{
    line-height: 1vw;
    color: white;
    font-size: .7vw;
    text-decoration: none;
}
.contact-us p{
    font-size: .7vw;
    margin-bottom: -.5vw;
}
.svg1{
    width: min-content;
    padding: 2.5% 2.5% 2.5% 2.5%;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: .7vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
}
.contact-us img{
  filter: invert(1) grayscale(100%);
  width: 2.5vw;
  
}

.contact-us img{
    filter: invert(1) grayscale(100%);
    width: 2.5vw;
    opacity: .5;
    transition: opacity .5s, transform .5s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .contact-us:hover img{
    transform: scale(1.3);
    opacity: 1;
  }


.location{
    flex: 1 0  100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3.1%;
    text-transform: uppercase;
    margin-bottom: 1vw;
}
.location h5{
    line-height: 1vw;
    color: white;
    font-size: .7vw;
    text-decoration: none;
    font-weight: 500;
}
.location p{
    font-size: .7vw;
}
.svg2{
    width: min-content;
    padding: 2.5% 2.5% 2.5% 2.5%;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: .7vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
}
.location img{
  filter: invert(1) grayscale(100%);
  width: 2.5vw;
  
}

.location img{
    filter: invert(1) grayscale(100%);
    width: 2.5vw;
    opacity: .5;
    transition: opacity .5s, transform .5s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .location:hover img{
    transform: scale(1.3);
    opacity: 1;
  }




.social-info h5{
    color: #fff;
    font-weight: 500;
    font-size: 1vw;
    margin-bottom: 1vw;
    margin-top: 2vw;
}

.icons{
    padding: 5% 2% 2% 7%;
    margin-top: 1vw;
    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    row-gap: 1vw;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
             border-radius: 1vw;
}


.icons img{
    flex: 1 0 80%;
    filter: invert(1) grayscale(100%);
    width: 3vw;
    opacity: 0.5;
    transition: opacity .5s , filter .5s ease, transform .5s cubic-bezier(0.25, 0.1, 0.25, 1);

}
.icons img:hover{
    transform: scale(1.3);
  opacity: 1;
}
.icons .linkedin{
    flex: 1 0 23%;
}

.icons .stack{
    flex: 1 0 23%;
}

.icons .github{
    flex: 1 0 23%;
}

.icons .telegram{
    flex: 1 0 23%;
}

.icons .insta{
    flex: 1 0 23%;
}

.icons .twitter{
    flex: 1 0 23%;
}





.message{
    flex: 1 0 57%;
    padding: 3% 2.5% 3% 2.5%;
    height: 50vh;
    width: 60vw;
    background: linear-gradient(-35deg, #181818, #2b2b2b);
    border-radius: 1vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
}
.message p{
    color: #fff;
    font-size: 2vw;
    font-weight: 500;
    line-height: 2.5vw;
}
.message .blue{
    color: #fff;
    transition: color 0.5s ease;
}
.message:hover .blue{
    color: #343bff;
}
.message img{
    filter: invert(1) grayscale(100%);
    width: 10%;
    margin-left: 90%;
    margin-top: -20%;
}

.message input{
    color: #fff;
    font-size: .6vw;
    border-radius: .4vw;
    background: linear-gradient(-10deg, #1f1f1f, #303030);
    padding: 1% 2% 1% 2%;
    outline: none;
    border: none;
    margin-bottom: 2%;
}

.message textarea{
    color: #fff;
    font-size: .65vw;
    border-radius: .4vw;
    background: linear-gradient(-10deg, #1f1f1f, #303030);
    padding: 1% 2% 1% 2%;
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    margin-bottom: 1%;
}

button{
    background: rgba(255, 255, 255, 0.043);
    color: rgba(255, 255, 255, 0.493);
    font-size: .6vw;
    padding: .6vw 1.2vw;
    border: none;
    border-radius: .4vw;
    cursor: pointer;
    transition: background .5s , color .5s;
  }
button:hover {
    background: white;
    color: #212121;
  }







footer {
    background:(#21212100);
    height: auto;
    margin-top: auto;
    padding-top: 5vw;
    right: 0;
    left: 0;
    bottom: 0;
}
.footer-content:not(.links){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content .links{
    gap: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    font-size: .7vw;
}
.footer-bottom{
    font-size: .7vw;
}
footer h2{
    font-size: 1.5vw;
    color: #a0a0a0cd;
    user-select: none;
    line-height: 5vw;
}
footer a:hover{
    color: #c1c1c1;
}
footer .bro:hover{
    color: #c1c1c1;
}

footer a, p{
    line-height: 2vw;
    color: #6c6c6c;
    text-decoration: none;
}
