@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

::-webkit-scrollbar {
    width: .4vw;
}
::-webkit-scrollbar-track {
    background: #21212100;
    box-shadow: inset 0 0.3vw #21212100, inset 0 -0.3vw #21212100;
}
::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 2vw;
    transition: transform 2s;
}

::-webkit-scrollbar-thumb:hover{
    background: #434343;
}

.box {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.box.show {
    opacity: 1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body:not(footer){
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vw;
    background: #212121;
}

header{
    background: #212121;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vw;
    padding: 2vw 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.4vw;
    color: #fff;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: .9vw;
    color: #606060;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1.5vw;
    transition: color 0.5s ease;
}
.navigation a:hover{
    color: #d1d1d1;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.2vw;
    width: 100%;
    height: .1vw;
    background: #fff;
    border-radius: 30%;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.navigation a:hover:after{
    transform: scaleX(1);
}


.navigation .talk-btn{
  --color2: #676767;
  --color: #d1d1d1;
  padding: .6vw 1.2vw;
  background-color: transparent;
  border-radius: .2vw;
  border: .05vw solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: .75vw;
  text-transform: uppercase;
  color: var(--color);
}
 
 .navigation .talk-btn::after, .talk-btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .navigation .talk-btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .navigation .talk-btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .navigation .talk-btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .navigation .talk-btn:hover {
  color: var(--color2);
 }
 
 .navigation .talk-btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }

 .wrapper{
    position: fixed;
    top: 20%;
    left: 40.5%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 25vw;
    background: transparent;
    border: 0.08vw solid rgba(255, 255, 255, 0.5);
    border-radius: .75vw;
    backdrop-filter: blur(.75vw);
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease ,height 0.2s ease;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 39vw;
}
.wrapper .form-box{
    width: 100%;
    padding: 1.8vw;
}
.wrapper .form-box.login{
    transition: transform 0.18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-30vw);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.8vw;
    height: 1.8vw;
    background: rgba(255, 255, 255, 0.5);
    font-size: 1.5vw;
    color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: .75vw;
    cursor: pointer;
    z-index: 1;
}
.form-box h2{
    font-size: 1.5vw;
    color: #d1d1d1;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 2vw;
    margin: 1.2vw 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0vw;
    transform: translateY(-50%);
    font-size: .65vw;
    color: #d1d1d182;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -.05vw;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: .75vw;
    color: #d1d1d1;
    font-weight: 500;
    padding: 0 1.2vw 0 0.5vw;
    border-bottom: 0.1vw solid #d1d1d1;
}
.input-box .icon{
    position: absolute;
    right: .2vw;
    font-size: .75vw;
    color: #d1d1d1;
    line-height: 0.5vw;
}

.input-box textarea{
    resize: none;
    width: 16vw;
    height: 4.5vw;
    background: transparent;
    border: none;
    outline: none;
    color: #d1d1d1;
    font-weight: 600;
    font-size: .7vw;
    font-weight: 500;
    border-bottom: .1vw solid #d1d1d1;
}

.talk{
    --color2: #676767;
    --color: #d1d1d1;
    margin-left: 26%;
    top: 2.4vw;
    width: 7vw;
    height: 2vw;
    background-color: transparent;
    border-radius: .2vw;
    border: 0.01vw solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: .75vw;
    text-transform: uppercase;
    color: var(--color);
  }
   
   .talk::after, .talk::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: 0.4s ease-out;
    background-color: var(--color);
   }
   
   .talk::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .talk:hover::before {
    transform: skew(60deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .talk:hover::after {
    transform: skew(60deg) translate(-50%, -50%);
   }
   
   .talk:hover {
    color: var(--color2);
   }
   
   .talk:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
/* -------------------------------------------------------------------------------- */
.main-container{
    
    margin: 15% 9% 0% 9%;
    width: 80%;
    height: 80%;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    position: static;
}
.main-container a{
    text-decoration: none;
}


.right-row{
    display: flex;
    flex-wrap: wrap;
    gap: 3.1%;
    row-gap: 1.6vw;
}
.intro{
    flex: 0 1 48.45%;
    display: flex;
    flex-wrap: wrap;
    gap: 3.1%;
    padding: 3% 3% 3% 3%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: 1vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
}
.intro img{
    flex: 0 1 48.45%;
    width: .5vw;
    border-top-left-radius: 1.2vw;
    border-top-right-radius: 0.1vw;
    border-bottom-right-radius: 1.2vw;
    border-bottom-left-radius: 0.1vw;
    filter: blur(0);
    transition: filter 01s ease-in-out;
    filter: grayscale(100%);
}
.intro img:hover{
    filter:none;
}
.text1{
    flex: 0 1 48.45%;
}
.text1 .p1{
    text-transform: uppercase;
    color: #6c6c6c;
    font-size: 1vw;
    line-height: 1.5vw;
}
.text1 .p2{
    text-transform: uppercase;
    color: #6c6c6c;
    font-size: .8vw;
    line-height: 1.5vw;
}
.text1 h2{
    margin: 3% 0 8% 0;
    color: #fff;
    line-height: 3vw;
    text-transform: uppercase;
    font-size: 3vw;
}


.right-row1{
    flex: 0 1 48.45%;
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
}

.text-container{
    flex: 0 1 100%;
    height: 3vw;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
    border-radius: 2vw;
    overflow: hidden;
}

.text-container .blue{
    color: #fff;
    transition: color 0.5s ease;
}
.text-container:hover .blue{
    color: #343bff;
}

.text-container p{
    margin-top: .5vw;
    font-weight: 80;
    font-size: 1vw;
    color: #fff;
    position: relative;
    white-space: nowrap;
    animation: textFlow 10s linear infinite;
}
@keyframes textFlow {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.credentials{
    flex: 0 1 47%;
    padding: 3vw 0vw 0vw 1vw;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: 1vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    max-height: 75%;
    margin-top: 1.9vw;
}
.credentials:hover {
  border-bottom-right-radius: 2vw;
  border-top-left-radius: 2vw;
  transform: scale(1.05);
}
.credentials img {
    margin-left: -2vw;
    margin-bottom: 1.47vw;
    width: 120%;
    filter: invert(1) grayscale(100%);
    opacity: 0.4;
    transition: opacity .5s , filter 1s ease, transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  
  .credentials:hover img{
      filter: brightness(150%) invert(1) grayscale(100%);
      opacity: 1;
      transform: scale(1.15);
  }
  .credentials p{
    margin-left: 1vw;
    margin-bottom: -0.45vw;
    font-size: .95vw;
      color: #6c6c6c;
      font-weight: 400;
  }
  .credentials h3{
    margin-bottom: vw;
    margin-left: 1vw;
    font-size: 1.7vw;
      color: #fff;
      font-weight: 300;
  }
  .credentials .right{
    font-size: 1.1vw;
  }


  .portfolios{
    flex: 0 1 47%;
    padding: 1vw 0vw 0vw 1.1vw;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: 1vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    max-height: 75%;
    margin-top: 1.9vw;
}
.portfolios:hover {
  border-bottom-right-radius: 2vw;
  border-top-left-radius: 2vw;
  transform: scale(1.05);
}

.portfolios img{
    max-width: 16vw;
    border-radius: .75vw;
    filter: grayscale(100%);
    transition: filter 1s ease, border-radius 1s , transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

.portfolios:hover img{
    border-top-left-radius: 1.1vw;
    filter: none;
    opacity: 1;
    transform: scale(1.07);
}


.portfolios p{
    padding-left: 1vw;
    margin-left: 1vw;
    margin-bottom: -0.45vw;
    font-size: .95vw;
      color: #6c6c6c;
      font-weight: 400;
      margin: 0 0 -.45vw 0; 

  }
  .portfolios h3{
    padding-left: 1vw;
    margin-bottom: -5vw;
    margin-left: 1vw;
    font-size: 1.7vw;
      color: #fff;
      font-weight: 300;
      margin: 0 0 0.5vw 0; 
  }
  .portfolios .right{
    font-size: 1.1vw;
  }


  .next-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
  }
/* .next-row img:not(.my-cv){
    max-width: 1vw;
} */

.my-cv{
    flex: 0 1 22%;
    padding: 2vw 0vw 1vw 1.1vw;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: 1vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.my-cv:hover {
  border-bottom-right-radius: 2vw;
  border-top-left-radius: 2vw;
  transform: scale(1.05);
}
.my-cv img{
    margin-left: 4.7vw;
    margin-bottom: 1vw;
    width: 7vw;
    filter: invert(1) grayscale(100%);
  opacity: 0.5;
  transition: opacity .5s , filter .5s ease, transform .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.my-cv:hover img{
    filter: brightness(150%) invert(1) grayscale(100%);
    opacity: 1;
    transform: scale(1.07);
}
.my-cv p{
        padding-left: 1vw;
    margin-bottom: -0.45vw;

    color: #6c6c6c;
    font-size: .95vw;
    font-weight: 400;
}
.my-cv h3{
        padding-left: 1vw;
    color: #fff;
    font-size: 1.7vw;
    font-weight: 300;
}
.my-cv .right{
    font-size: 1.1vw;
  }


.services{
    flex: 0 1 50%;
    margin-right: -5%;
    margin-left: -1%;
    padding: 2vw 0vw 1vw 1.1vw;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: 1vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.services:hover {
  border-bottom-right-radius: 2vw;
  border-top-left-radius: 2vw;
  transform: scale(1.05);
}
.certain{
    text-align: center;
}
.services img{
    margin: 1.7vw;
    width: 4vw;
    filter: invert(1) grayscale(100%);
    opacity: 0.5;
    transition: opacity .5s , filter .5s ease, transform .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.services img:hover {
    filter: brightness(150%) invert(1) grayscale(100%);
    opacity: 1;
    transform: scale(1.1);
}
.services p{
    margin-top: .6vw;
    padding-left: 1vw;
    margin-bottom: -0.45vw;
    color: #6c6c6c;
    font-size: .95vw;
    font-weight: 400;
}
.services h3{
    padding-left: 1vw;
    color: #fff;
    color: #fff;
    font-size: 1.7vw;
    font-weight: 300;
}
.services .right{
    font-size: 1.1vw;
  }


.social{
    flex: 0 1 22%;
    padding: 1vw 0vw 1vw 3vw;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: 1vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}
.social:hover {
    border-bottom-right-radius: 2vw;
    border-top-left-radius: 2vw;
    transform: scale(1.05);
}
.social img{
    margin: 1vw 1.5vw;
    width: 2.5vw;
}
  .social p{
    margin-top: -.2vw;
    padding-left: 1vw;
    margin-left: -2.5vw;
    margin-bottom: -0.45vw;
    color: #6c6c6c;
    font-size: .95vw;
    font-weight: 400;
}

.social img{
    filter: invert(1) grayscale(100%);
    opacity: 0.5;
    transition: opacity .5s , filter .5s ease, transform .5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.social img:hover {
    filter: brightness(150%) invert(1) grayscale(100%);
    opacity: 1;
    transform: scale(1.1);
}
.social h3{
    padding-left: 1vw;
    margin-left: -2.5vw;
    color: #fff;
    color: #fff;
    font-size: 1.7vw;
    font-weight: 300;
}
.social .right{
    font-size: 1.1vw;
  }


.next-row1{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 2vw;
}


.xp{
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    margin-left: 9%;
    flex: 1 0 4%;
    padding: 1.5vw 2vw 1.5vw 2vw;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: 1vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.xp p{
    margin-top: .2vw;
}

.xp .years{
    padding: 2.5vw 1vw 2.5vw 1vw;
    flex: 1 0 30%;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.xp .years:hover{
    border-bottom-right-radius: 1.8vw;
    border-top-left-radius: 1.8vw;
    transform: scale(1.05);
}
.xp .clients{
    padding: 2.5vw 1vw 2.5vw 1vw;
    flex: 1 0 30%;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.xp .clients:hover{
    border-bottom-right-radius: 1.8vw;
    border-top-left-radius: 1.8vw;
    transform: scale(1.05);
}

.xp .projects {
    padding: 2.5vw 1vw 2.5vw 1vw;
    flex: 1 0 30%;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.xp .projects:hover{
    border-bottom-right-radius: 1.8vw;
    border-top-left-radius: 1.8vw;
    transform: scale(1.05);
}
.xp h3{
    transition: transform .5s;
}
.xp p{
    line-height: 120%;
    transition: transform .5s;
}
.xp:hover {
    border-bottom-right-radius: 2vw;
    border-top-left-radius: 2vw;
    transform: scale(1.05);
   }
.years:hover h3{
    transform: scale(1.3);
}
.years:hover p{
    transform: scale(1.05);
}

.clients:hover h3{
    transform: scale(1.3);
}
.clients:hover p{
    transform: scale(1.05);
}

.projects:hover h3{
    transform: scale(1.3);
}
.projects:hover p{
    transform: scale(1.05);
}

.xp .years{
    text-align: center;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: 1vw;
    box-shadow: .75vw .75vw 1.2vw #0c0c0ca7,
                -.75vw -.75vw 1.2vw #2121217a;
}
.years h3{
    color: #fff;
    font-size: 2.1vw;
}
.years p{
    font-size: .65vw;
    color: #6c6c6c;
}

.xp .clients{
    text-align: center;

    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: 1vw;
    box-shadow: .75vw .75vw 1.2vw #0c0c0ca7,
                -.75vw -.75vw 1.2vw #2121217a;
}

.clients h3{
    color: #fff;
    font-size: 2.1vw;
}
.clients p{
    font-size: .65vw;
    color: #6c6c6c;
}

.xp .projects{
    text-align: center;

    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: 1vw;
    box-shadow: .75vw .75vw 1.2vw #0c0c0ca7,
                -.75vw -.75vw 1.2vw #2121217a;
}

.projects h3{
    color: #fff;
    font-size: 2.1vw;
}
.projects p{
    font-size: .65vw;
    color: #6c6c6c;
}




.lets-work{
    padding: 3vw 3vw 2vw 3vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-right: 11%;
    flex: 1 0 4%;
    background: linear-gradient(-35deg, #1e1e1e, #212121);
    border-radius: 1vw;
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(25, 25, 25, 0.724),
             -0.6vw -0.6vw 1.2vw rgba(60, 60, 60, 0.623);
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.lets-work a{
    text-decoration: none;
}
.lets-work:hover {
    border-bottom-right-radius: 2vw;
    border-top-left-radius: 2vw;
    transform: scale(1.05);
   }
.lets-work p{
    font-size: 2.8vw;
    color: #fff;
    font-weight: 600;
    line-height: 1.2;
}
.lets-work .blue{
    color: #fff;
    transition: color 0.5s ease;
}
.lets-work:hover .blue{
    color: #343bff;
}
.lets-work:hover img{
    transform: scale(1.3);
    opacity: .7;
}
.lets-work .network{
    filter: invert(1) grayscale(100%);
}
.lets-work img{
    /* margin-top: 1vw; */
    margin-left: 6vw;
    width: 6vw;
    transition: transform 1s ,opacity 1s;
    opacity: 0.2;

}
.lets-work .right{
    font-size: 1.8vw;
}













footer {
    background:(#21212100);
    height: auto;
    margin-top: auto;
    padding-top: 5vw;
    right: 0;
    left: 0;
    bottom: 0;
}
.footer-content:not(.links){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content .links{
    gap: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    font-size: .7vw;
}
.footer-bottom{
    font-size: .7vw;
}
footer h2{
    font-size: 1.5vw;
    color: #a0a0a0cd;
    user-select: none;
    line-height: 5vw;
}
footer a:hover{
    color: #c1c1c1;
}
footer .bro:hover{
    color: #c1c1c1;
}

footer a, p{
    line-height: 2vw;
    color: #6c6c6c;
    text-decoration: none;
}